@charset "utf-8";

html, body {margin: 0;height: 100%;min-height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$rc: 'Inter', monospace;
$ps: 'Inter', cursive;

$siteWidth: 1180px;                      // Ширина
$siteMinWidth: 340px;                   // Минимальная ширина

$siteFontFamily: $rc, arial;                 // Основное семейство
$siteFontSize: 22px;                    // Основной размер


$H1Size: $siteFontSize*2 + 4;               // Размер заголовка

$siteColor: #666666;                       // Цвет шрифта
$linkColor: #7070F6;                       // Цвет ссылок
$HnColor: #212121;                         // Цвет заголовка


body {
    position: relative;
    min-width: $siteMinWidth;
    text-align: left;
    color: $siteColor;
    font: $siteFontSize $siteFontFamily;
    line-height: 1;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: $HnColor;
    font-family: $ps, $siteFontFamily;
    font-weight: 800;
    font-style: normal;
}

h1 {margin-top: 0; font-size: $H1Size;}
h2 {font-size: round($H1Size - 2);}
h3 {font-size: round($H1Size - 4);}
h4 {font-size: round($H1Size - 6);}
h5 {font-size: round($H1Size - 8);}
h6 {font-size: round($H1Size - 9);}
h5, h6 {font-size: round($H1Size - 10);}


@media all and (max-width: 1024px) {
    h1 {margin-top: 0; font-size: 28px;}
    h2 {font-size: 26px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    h5 {font-size: 20px;}
    h6 {font-size: 18px;}
    h5, h6 {font-size: 16px;}
}

a {text-decoration: underline; color: $linkColor;}
a:hover {text-decoration: none;}

a img {border-color: $siteColor;}


a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

img, textarea, input, table {
    max-width: 100%;
}

.site_wrapper {
   display: flex;
   flex-direction: column;
}

*{
    box-sizing: border-box;
}

.block_inner {
    max-width: $siteWidth;
    margin: 0 auto;
}

.col2-field {

    @media all and (min-width: 768px) {
        display: flex;

        .field {
            flex: 0 0 calc(50% - 8px);
            margin-right: 16px;

            &:nth-child(2){
                margin-right: 0;
            }
        }
    }
}

.oveflowHidden {
    overflow: hidden;
}

.field {
    margin-bottom: 24px;
    position: relative;

    input[type="text"],input[type="password"],input[type="tel"]  {
        width: 100%;
        padding: 0 16px;
        height: 48px;
        background: #EFF8FF;
        border: 2px solid rgba(112, 112, 246, 0.2);
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        box-sizing: border-box;
        border-radius: 2px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    select {
        width: 100%;
        padding: 0 16px;
        height: 48px;
        background: #EFF8FF;
        border: 2px solid rgba(112, 112, 246, 0.2);
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        box-sizing: border-box;
        border-radius: 2px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    textarea {
        width: 100%;
        padding: 16px;
        height: 120px;
        background: #EFF8FF;
        border: 2px solid rgba(112, 112, 246, 0.2);
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        box-sizing: border-box;
        border-radius: 2px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    .field_name {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        padding-bottom: 8px;

        span {
            color: #f00;
        }
    }

    &.checkbox {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        transition: all 0.3s;
                        background-color: #fff;
                        z-index: 1;
                    }

                    input:checked + span {
                        background-color: #183E98;
                        border-color: #183E98;
                        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6666 3.5L5.24992 9.91667L2.33325 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    &.radio {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-color: #fff;
                        border-radius: 50%;
                        z-index: 1;

                        &:before {
                            content: '';
                            transition: all 0.3s;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            margin: auto;
                            background: #183E98;
                            opacity: 0;
                            border-radius: 50%;
                        }
                    }

                    input:checked + span {
                        border-color: #183E98;

                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.jq-selectbox.jqselect {
    display: block !important;
    width: 100%;

    .jq-selectbox__select {
        width: 100%;
        padding: 18px 16px 17px;
        height: 60px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
        color: #78B82A;
        border: 1px solid #78B82A;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        position: relative;
        cursor: pointer;

        .jq-selectbox__select-text {
            width: 100% !important;
            margin: 0;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.66528L6.01136 9.65392L5.05129 8.69385L11.0399 2.70521L12 3.66528Z' fill='%2378B82A'/%3E%3Cpath d='M5.98877 9.63599L0.000131678 3.64734L0.960205 2.68727L6.94884 8.67591L5.98877 9.63599Z' fill='%2378B82A'/%3E%3C/svg%3E%0A");
            background-position: 50%;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .jq-selectbox__dropdown {
        top: 100% !important;
        border: 1px solid #78B82A;
        background: #000;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 18px 16px 17px;
                font-size: 22px;
                text-transform: uppercase;
                color: #78B82A;
                cursor: pointer;

                &:hover,&.sel {
                    color: #fff;
                }
            }
        }
    }
}


.burger {
    flex: 0 0 48px;
    z-index: 71;
    width: 48px;
    height: 48px;
    background: #7070F6 url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.222168' y='0.445312' width='13.4444' height='2.44444' fill='%23ffffff'/%3E%3Crect x='16.1113' y='0.445312' width='4.88889' height='2.44444' fill='%23ffffff'/%3E%3Crect x='5.11133' y='7.77734' width='15.8889' height='2.44444' fill='%23ffffff'/%3E%3Crect x='0.222168' y='7.77734' width='2.44444' height='2.44444' fill='%23ffffff'/%3E%3Crect x='7.55566' y='15.1133' width='13.4444' height='2.44444' fill='%23ffffff'/%3E%3Crect x='0.222168' y='15.1133' width='4.88889' height='2.44444' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    position: relative;
    border-radius: 50%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    margin-left: 6px;

    @media all and (max-width: 1024px)  {
        display: block;
    }
}

.form-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: rgba(#1E193D, 0.2);
    transition: all 0.5s;
    padding: 100px 40px 40px 40px;

    @media all and (max-width: 767px) {
        padding: 0;
    }

    @media all and (min-width: 768px) {

        &:before {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            content: '';
        }
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .formExtraWrapper {
        width: 588px;
        margin: auto;
        position: relative;   
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left; 
        z-index: 10;    

        @media all and (max-width: 767px) {
            width: 300;
            display: block;
        }

        .close-form {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 26px;
            height: 26px;
            background: 50% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23322D50'/%3E%3C/svg%3E%0A") no-repeat;
            cursor: pointer;
            z-index: 101;
        }
    }
}

.form-b {
    font-size: 0;
    padding: 52px 33px 48px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    z-index: 100;

    @media all and (max-width: 767px) {
        padding: 48px 20px;
    }

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 100%;
        text-transform: uppercase;
        color: #0C395F;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        padding-bottom: 14px;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #0C395F;
        padding-bottom: 52px;
    }
}

.menu_burger {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 340px;
    z-index: 1001;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    background: #7070F6;
    font-size: 0;
    opacity: 0;
    box-shadow: 0 0 0 6000px rgba(#1E193D, .8);

    &.opened {    
        opacity: 1;
        visibility: visible;
    }

    .menu_scroll {
        overflow: auto;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0; 
    }

    .menuClose {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        box-sizing: border-box;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;    
    }

    .menu_top,.menu_top2 {

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;

            > li {
                padding: 2px 0;

                > a {
                    align-items: center;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    color: #FFFFFF;
                    padding: 10px 16px;
                    text-decoration: none;
                    position: relative;
                    text-align: right;
                    display: block;
                
                    &:hover {
                        text-decoration: underline;
                    }

                    .arrow {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        bottom: 0;
                        margin: auto;
                        width: 32px;
                        border-radius: 6px;
                        height: 32px;
                        background: #fff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }
                }

                ul {
                    display: none;
                    padding: 8px 16px;
                    margin: 0;
                    list-style: none;

                    li {

                        a {
                            display: block;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 22px;
                            color: #FFFFFF;
                            padding: 6px 8px;
                            text-decoration: none;
                            position: relative;
                        }
                    }
                }

                &.hasSubmenu {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    .menu_left_inner {
        padding-top: 20px;

        > ul {
            background: #fff;
            padding: 16px;
            margin: 0;
            list-style: none;

            > li {

                > a {
                    display: block;
                    padding: 0;
                    position: relative;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    color: #242424;
                    transition: all 0.3s;
                    text-decoration: none;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 3px;
                        background: #183E98;
                        height: 24px;
                        opacity: 0;
                        transition: all 0.3s;
                        margin: auto;
                    }
                }

                

                ul {
                    padding: 0 0 0 15px;
                    margin: 0;
                    list-style: none;
                    display: none;

                    li {

                        a {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 32px;
                            text-decoration: none;
                            color: #242424;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.opened > a{
                            text-decoration: underline;
                        }
                    }
                }

                &.opened {

                    > a {
                        background: rgba(24, 62, 152, 0.1);
                        color: #183E98;
                        font-weight: 700;
                        font-style: italic;
                        padding-left: 15px;

                        &:before {
                            opacity: 1;
                        }
                    }

                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
}

.site_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content_block_wr {
    flex: 1 1 auto;
}

.btn {
    display: block;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 12px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: $rc;
    text-decoration: none;
    position: relative;
    background: #7070F6;
    border: 2px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
    border-radius: 10px;

    &:hover {
        background: #8080FF;
        border: 2px solid rgba(0, 0, 0, 0.06);
        box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4)
    }

    &.white {
        background: #FFFFFF;
        border: 2px solid rgba(112, 112, 246, 0.2);
        border-radius: 10px;
        font-weight: 500;
        color: #7070f6;
        box-shadow: none;

        &:hover {
            background: #FFFFFF;
            border: 2px solid #7070F6;
            color: #7070f6;
            box-shadow: none;
        }
    }

    &.big {
        padding: 18px 24px;
        font-size: 20px;
    }
}

.header {
    padding: 16px;

    @media all and (max-width: 1024px) {
        padding: 6px;
    }

    &_block_inner {
        background: #E1F0FB;
        border-radius: 24px;
        padding: 0 16px;

        @media all and (max-width: 1024px) {
            border-radius: 10px;
        }
    }



    &_top_panel {
        padding: 32px 0 32px;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        @media all and (max-width: 1024px) {
            padding: 10px 0;
        }
    }

    &_fixed_panel {
        background: #E1F0FB;
        padding: 0 16px;
        border-radius: 24px;
        position: fixed;
        top: 16px;
        left: 16px;
        right: 16px;
        z-index: 100;
        transition: all 0.3s;

        @media all and (max-width: 1024px) {
            top: 6px;
            left: 6px;
            right: 6px;
            border-radius: 10px;
        }

        &.fixed {
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0;
            
            .header_top_panel {
                padding: 10px;
            }
        }
    }

    .logo {
        flex: 0 0 118px;

        @media all and (max-width: 1024px) {
            flex: 1 1 auto;
        }

        a {
            display: block;
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #7070F6;
        }
    }

    &_menu {
        flex: 1 1 auto;
        padding: 0 24px;
        text-align: center;

        @media all and (max-width: 1024px) {
            display: none;
        }

        > ul {
            margin: 0;
            list-style: none;
            padding: 0;

            > li {
                display: inline-block;
                vertical-align: top;
                position: relative;

                &:hover {
                    > a {
                        background: #fff;
                        color: #7070F6;

                        .arrow {
                            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }

                    ul {
                        display: block;
                    }
                }

                > a {
                    text-decoration: none; 
                    padding: 14px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #212121;
                    border-radius: 10px;
                    transition: all 0.3s;

                    span {
                        flex: 0 0 auto;
                    }

                    .arrow {
                        flex: 0 0 24px;
                        height: 20px;
                        margin-left: 8px;
                        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z' fill='%23212121'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }

                    &:hover {
                        background: #7070F6;
                        color: #fff;

                        .arrow {
                            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }
                }

                ul {
                    margin: 4px 0 0;
                    list-style: none;
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 240px;
                    padding: 8px;
                    background: #FFFFFF;
                    box-shadow: 0px 6px 16px rgba(112, 112, 246, 0.2);
                    border-radius: 10px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: 0;
                        right: 0;
                        height: 4px;
                    }

                    li {
                        text-align: left;

                        a {
                            display: block;
                            padding: 14px 24px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #212121;
                            text-decoration: none;
                            transition: all 0.3s;
                            border-radius: 10px;

                            &:hover {
                                background: #7070F6;
                                color: #fff;
                            }
                        }
                    }
                }

                
            }
        }
    }
}

.lang_block {
    flex: 0 0 48px;
    margin-right: 12px;
    position: relative;
    text-transform: uppercase;

    @media all and (max-width: 1024px) {
        margin-right: 6px;
    }

    .active_lang {
        background: #FFFFFF;
        border-radius: 10px;
        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        color: #212121;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
    }

    &.opened {
        .active_lang {
            border-radius: 10px 10px 0 0;
        }
    }

    .list_lang {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 0 0 10px 10px;
        background: #fff;
        text-align: center;

        a {
            display: block;
            text-decoration: none;
            padding: 14px 12px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.login_btn {
    flex: 0 0 auto;
    padding: 12px 54px 12px 22px;
    background: #7070F6;
    border: 2px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
    border-radius: 10px;
    transition: all 0.5s;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 22px;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.46447 15.4645C5.40215 14.5268 6.67392 14 8 14H16C17.3261 14 18.5979 14.5268 19.5355 15.4645C20.4732 16.4021 21 17.6739 21 19V21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21V19C19 18.2044 18.6839 17.4413 18.1213 16.8787C17.5587 16.3161 16.7956 16 16 16H8C7.20435 16 6.44129 16.3161 5.87868 16.8787C5.31607 17.4413 5 18.2044 5 19V21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21V19C3 17.6739 3.52678 16.4021 4.46447 15.4645Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        margin: auto;
    }

    @media all and (max-width: 1024px)  {
        flex: 0 0 48px;
        font-size: 0;
        height: 48px;
        padding: 0;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &:hover {

    }
}

.header_bottom {
    display: flex;
    padding-bottom: 60px;
    padding-top: 160px;

    @media all and (max-width: 1024px){
        padding-top: 88px;
        padding-bottom: 20px;
    }

    @media all and (max-width: 1000px){
        display: block;
    }

    .left_block {
        flex: 0 0 380px;
        margin-right: 40px;

        @media all and (max-width: 1100px) {
            flex: 0 0 320px;
            margin-right: 20px;
        }

        .title {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #212121;
            padding-bottom: 16px;

            @media all and (max-width: 1100px){
                font-size: 32px;
                line-height: 1.1;
            }

            span {
                color: #7070F6;
            }
        }

        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #666666;
            max-width: 340px;
            margin-bottom: 40px;
        }

        @media all and (max-width: 1000px) {
            margin: 0 0 20px;

            .text {
                margin-bottom: 20px;
            }
        }

        .btns {
            max-width: 340px;

            .btn {
                margin-bottom: 16px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                    margin-right: 0 !important;
                }
            }

            @media all and (max-width: 1000px) {
                font-size: 0;
                max-width: 100%;

                .btn {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 16px;
                    width: 320px;
                }
            }

            @media all and (max-width: 699px) {

                .btn {
                    display: block;
                    width: 100%;
                    margin-right: 0;
                    font-size: 16px;
                }
            }
        }
    }
}


.service_blocks {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    @media all and (max-width: 479px){
        display: block;
        margin: 0;
    }

    .item {
        text-decoration: none;
        margin: 0 10px 20px;
        padding: 24px;
        flex: 0 0 calc(33.33% - 20px);
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 4px 4px 0px rgba(112, 112, 246, 0.1);
        border-radius: 20px;
        position: relative;

        .name {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #212121;
            padding-bottom: 8px;
        }

        .body {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #666666;
        }

        .icon {
            flex: 1 1 auto;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-top: 52px;

            @media all and (max-width: 479px){
                padding-top: 20px;
            }

            img {
                max-width: 48px;
            }
        }

        &:nth-child(4),&:nth-child(5){
            flex: 0 0 calc(50% - 20px);
        }

        @media all and (max-width: 699px) {
            flex: 0 0 calc(50% - 20px);

            &:nth-child(5){
                flex: none;
                width: calc(100% - 20px);
            }
        }

        @media all and (max-width: 479px) {
            width: 100%;
            margin: 0 0 16px;

            &:nth-child(5){
                width: 100%;
            }
        }

        .btn {
            font-weight: 700;
            display: inline-block;
            vertical-align: top;
            box-shadow: none;
        }
    }
}

.service_blocks .item {
    position: relative;

    .border_block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .bd {
      position: absolute;
      
    }

    .bd1 {
      top: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
      background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
      -webkit-animation: 2s animateTop linear infinite;
              animation: 2s animateTop linear infinite;
    }

    @-webkit-keyframes animateTop {
      0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
      100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
    }

    @keyframes animateTop {
      0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
      100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
    }

    .bd2 {
      top: 0px;
      right: 0px;
      height: 100%;
      width: 2px;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
      background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
      -webkit-animation: 2s animateRight linear -1s infinite;
              animation: 2s animateRight linear -1s infinite;
    }

    @-webkit-keyframes animateRight {
      0% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
      }
      100% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
    }

    @keyframes animateRight {
      0% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
      }
      100% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
    }

    .bd3 {
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
      background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
      -webkit-animation: 2s animateBottom linear infinite;
              animation: 2s animateBottom linear infinite;
    }

    @-webkit-keyframes animateBottom {
      0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
      100% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
    }

    @keyframes animateBottom {
      0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
      100% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
      }
    }

    .bd4 {
      top: 0px;
      left: 0px;
      height: 100%;
      width: 2px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
      background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
      -webkit-animation: 2s animateLeft linear -1s infinite;
              animation: 2s animateLeft linear -1s infinite;
    }

    @-webkit-keyframes animateLeft {
      0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
      100% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
      }
    }

    @keyframes animateLeft {
      0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
      }
      100% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
      }
    }
}


.solutions_block {
    position: relative;
    padding: 164px 16px 204px;
    overflow: hidden;

    .so_parallax {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;

            .hl_icon {
                position: absolute;
                bottom: 118px;
                left: -74px;
                width: 240px;
                height: 240px;
                background: #E1F0FB;
                border-radius: 50%;
            }

            .hr_icon {
                position: absolute;
                top: 144px;
                right: -124px;
                width: 320px;
                height: 340px;
                background: #E1F0FB;
                border-radius: 50%;
            }
        }

        @media all and (max-width: 1100px) {
            display: none;
        }
    }

    @media all and (max-width: 1200px) {
        padding: 50px 16px;
    }

    @media all and (max-width: 1200px){
        padding: 30px 16px;
    }

    .block_inner {
        display: flex;
        position: relative;
        z-index: 10;
        align-items: flex-start;

        @media all and (max-width: 1000px){
            display: block;
        }

        .images{
            position: relative;
            flex: 0 0 590px;
            margin-top: 34px;
            margin-right: 150px;

            @media all and (max-width: 1200px){
                margin-right: 70px;
                flex: 0 0 450px;
            }

            .image {

                img {
                    width: 100%;
                    filter: blur(2px);
                    border-radius: 20px;
                }
            }

            .image_top {
                position: absolute;
                top: -118px;
                left: -150px;
                width: 400px;

                img {
                    width: 400px;
                    height: 400px;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 4px 4px 0px rgba(112, 112, 246, 0.1);
                }

                @media all and (max-width: 1200px) {
                    top: -50px;
                    left: -50px;
                    width: 200px;

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }

            .image_bottom {
                position: absolute;
                bottom: -110px;
                right: -90px;
                width: 320px;

                img {
                    width: 320px;
                    height: 320px;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 4px 4px 0px rgba(112, 112, 246, 0.1);
                }

                @media all and (max-width: 1200px) {
                    bottom: -50px;
                    right: -50px;
                    width: 200px;

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }

            @media all and (max-width: 1000px) {
                margin-bottom: 70px;
                margin-right: 0;

                .image_top {
                    bottom: -50px;
                    right: -50px;
                    width: 300px;

                    img {
                        width: 300px;
                        height: 300px;
                    }
                }

                .image_bottom {
                    bottom: -50px;
                    right: -50px;
                    width: 300px;

                    img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }

            @media all and (max-width: 600px) {
                margin-bottom: 40px;

                .image_top {
                    bottom: -20px;
                    right: -20px;
                    width: 150px;

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }

                .image_bottom {
                    bottom: -20px;
                    right: -20px;
                    width: 150px;

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }

        .right_block {
            flex: 1 1 auto;

            .title {
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: #212121;
                padding-bottom: 24px;

                span {
                    color: #7070F6;
                }

                @media all and (max-width: 1200px) {
                    font-size: 32px;
                    line-height: 1.2;
                }

                @media all and (max-width: 767px) {
                    font-size: 26px;
                    padding-bottom: 12px;
                }
            }

            .text {
                font-weight: 500;
                font-size: 17px;
                line-height: 24px;
                color: #666666;

                p {
                    margin: 0 0 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media all and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 20px;

                    p{
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}

.why_block {
    padding: 0 16px 20px;
    background: url(../img/bg_why.jpg) 50% 100% no-repeat;

    .block_inner {
        display: flex;
        align-items: flex-start;

        @media all and (max-width: 1000px){
            display: block;
        }

        .left_block {
            flex: 0 0 380px;
            margin-right: 20px;

            @media all and (max-width: 1100px) {
                flex: 0 0 320px;
            }

            .title {
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: #212121;
                padding-bottom: 16px;

                @media all and (max-width: 1100px){
                    font-size: 32px;
                    line-height: 1.1;
                }

                @media all and (max-width: 1000px){
                    
                    br {
                        display: none;
                    }
                }

                span {
                    color: #7070F6;
                }
            }

            .text {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #666666;
                max-width: 340px;
                margin-bottom: 40px;
            }

            @media all and (max-width: 1000px) {
                margin: 0 0 20px;

                .text {
                    margin-bottom: 20px;
                }
            }

            .btns {
                max-width: 280px;

                .btn {
                    margin-bottom: 16px;
                    width: 100%;

                    &:last-child {
                        margin-bottom: 0;
                        margin-right: 0 !important;
                    }
                }

                @media all and (max-width: 1000px) {
                    font-size: 0;
                    max-width: 100%;

                    .btn {
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 16px;
                        width: 280px;
                    }
                }

                @media all and (max-width: 699px) {

                    .btn {
                        display: block;
                        width: 100%;
                        margin-right: 0;
                        font-size: 16px;
                    }
                }
            }
        }

        .items_why {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;

            @media all and (max-width: 767px){
                display: block;
            }

            .items {
                flex: 0 0 calc(50% - 10px);

                &:nth-child(2){
                    margin-top: 70px;

                    @media all and (max-width: 767px){
                        margin: 0;
                    }
                }
            }

            .item {
                margin-bottom: 20px;
                background: #FFFFFF;
                border: 2px solid rgba(112, 112, 246, 0.4);
                box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                padding: 32px;

                @media all and (max-width: 767px){
                    padding: 20px;
                }

                .name {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 40px;
                    color: #212121;
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                    position: relative;

                    @media all and (max-width: 767px){
                        font-size: 26px;
                        line-height: 32px;
                    }

                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 80px;
                        height: 4px;
                        background: #17B543;
                    }
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        margin-bottom: 16px;
                        padding-left: 32px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #666666;
                        position: relative;

                        @media all and (max-width: 767px){
                            margin-bottom: 10px;
                            line-height: 20px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 24px;
                            height: 24px;
                            background: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7071 0.292893C18.0976 0.683417 18.0976 1.31658 17.7071 1.70711L6.70711 12.7071C6.31658 13.0976 5.68342 13.0976 5.29289 12.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289C0.683417 5.90237 1.31658 5.90237 1.70711 6.29289L6 10.5858L16.2929 0.292893C16.6834 -0.0976311 17.3166 -0.0976311 17.7071 0.292893Z' fill='%2317B543'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.as_well_block {
    padding: 80px 16px 128px;
    background: url(../img/as_bg.jpg) 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    @media all and (max-width: 1000px) {
        padding: 30px 16px;
    }

    .title {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
        color: #F5C96D;
        padding-bottom: 8px;

        @media all and (max-width: 1000px) {
            font-size: 32px;
            line-height: 1.3;
        }
    }

    .subtitle {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #FFFFFF;
        padding-bottom: 8px;
        max-width: 880px;

        @media all and (max-width: 1000px) {
            font-size: 32px;
            line-height: 1.3;
        }
    }

    .text {
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;

        @media all and (max-width: 1000px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .block_inner {
        position: relative;
    }

    .as_parallax {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: $siteWidth;
            margin: 0 auto;

            .h_icon {
                position: absolute;
                bottom: -65px;
                right: 0;
                width: 400px;
                height: 400px;
                background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M192.546 18.4263C197.239 16.0802 202.761 16.0802 207.454 18.4263L374.12 101.76C379.767 104.583 383.333 110.354 383.333 116.667C383.333 122.98 379.767 128.751 374.12 131.574L207.454 214.907C202.761 217.253 197.239 217.253 192.546 214.907L25.8797 131.574C20.2333 128.751 16.6666 122.98 16.6666 116.667C16.6666 110.354 20.2333 104.583 25.8797 101.76L192.546 18.4263ZM70.6011 116.667L200 181.366L329.399 116.667L200 51.9673L70.6011 116.667Z' fill='%237070F6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4262 275.88C22.5426 267.647 32.5539 264.31 40.7868 268.426L200 348.033L359.213 268.426C367.446 264.31 377.457 267.647 381.574 275.88C385.69 284.113 382.353 294.124 374.12 298.241L207.453 381.574C202.761 383.92 197.239 383.92 192.546 381.574L25.8797 298.241C17.6467 294.124 14.3097 284.113 18.4262 275.88Z' fill='%237070F6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4262 192.546C22.5426 184.313 32.5539 180.976 40.7868 185.093L200 264.699L359.213 185.093C367.446 180.976 377.457 184.313 381.574 192.546C385.69 200.779 382.353 210.791 374.12 214.907L207.453 298.24C202.761 300.586 197.239 300.586 192.546 298.24L25.8797 214.907C17.6467 210.791 14.3097 200.779 18.4262 192.546Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        @media all and (max-width: 1100px) {
            display: none;
        }
    }
}

.questions_btn_block {
    padding: 80px 16px;

    @media all and (max-width: 1000px) {
        padding: 30px 16px;
    }

    .block_inner {
        display: flex;
        align-items: center;

        @media all and (max-width: 1000px) {
            display: block;
            text-align: center;
        }

        .left_block {
            flex: 1 1 auto;
            padding-right: 20px;

            @media all and (max-width: 1000px) {
                padding: 0 0 20px;
            }

            .title {
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: #212121;
                padding-bottom: 8px;

                span {
                    color: #7070f6;
                }

                @media all and (max-width: 1000px) {
                    font-size: 32px;
                    line-height: 1.3;
                }
            }

            .text {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 24px;
                color: #666666;

                @media all and (max-width: 1000px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .right_block {
            flex: 0 0 327px;

            @media all and (max-width: 1000px) {
                max-width: 320px;
                margin: 0 auto;
            }
        }
    }
}

.slider_bg_block {
    padding: 0 16px;
    position: relative;

    @media all and (max-width: 1100px) {
        padding: 0 6px;
    }

    @media all and (max-width: 1000px) {
        padding: 0;
    }

    .slick-dots {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        @media all and (max-width: 1100px){
            right: 20px;
        }

        li {
            margin: 20px 0;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 50px;
                width: 4px;
                background: #7070F6;
                margin: 0 auto;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }

            button {
                width: 20px;
                height: 20px;
                padding: 0;
                font-size: 0;
                border: none;
                border-radius: 50%;
                background: #7070F6;
                position: relative;
                z-index: 1;
                transition: all 0.3s;
                cursor: pointer;
            }

            &.slick-active {
                button {
                    box-shadow: 0 0 0 8px #fff;
                }
            }
        }
    }

    .item {
        min-height: 900px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 120px 16px;
        position: relative;
        border-radius: 24px;
        background-attachment: fixed;

        &:before {
            content: '';
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            border-radius: 24px;
            background: #000000;
            opacity: 0.7;
        }

        @media all and (max-width: 1000px) {
            padding: 40px 16px;
            min-height: 400px;
            border-radius: 0;

            &:before {
                border-radius: 0;
            }
        }

        .block_inner {
            position: relative;
            z-index: 1;
        }

        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            color: #FFFFFF;
            padding-bottom: 32px;
            max-width: 580px;
            -webkit-animation-name: fadeInUpSlider;
                animation-name: fadeInUpSlider;

            @media all and (max-width: 1000px) {
                font-size: 24px;
                line-height: 30px;
                padding-bottom: 16px;
            }
        }

        .title {
            font-style: normal;
            font-weight: 800;
            font-size: 64px;
            line-height: 80px;
            color: #7070F6;
            max-width: 580px;
            -webkit-animation-name: fadeInUpSlider;
                animation-name: fadeInUpSlider;

            @media all and (max-width: 1000px) {
                font-size: 34px;
                line-height: 40px;
            }
        }

        .btns {
            max-width: 340px;
            padding-top: 40px;

            .btn {
                margin-bottom: 16px;
                width: 100%;
                -webkit-animation-name: fadeInUpSlider;
                animation-name: fadeInUpSlider;

                &:last-child {
                    margin-bottom: 0;
                    margin-right: 0 !important;
                }
            }

            @media all and (max-width: 1000px) {
                font-size: 0;
                max-width: 100%;
                padding-top: 20px;

                .btn {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 16px;
                    width: 320px;
                }
            }

            @media all and (max-width: 699px) {

                .btn {
                    display: block;
                    width: 100%;
                    margin-right: 0;
                    font-size: 16px;
                }
            }
        }

        @-webkit-keyframes fadeInUpSlider {
          0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes fadeInUpSlider {
          0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
            transform: translateY(20px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
          }
        }

        &.slick-active {
            .text,.title,.btns .btn {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
    width: 64px;
    height: 64px;
    background: #fff url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33334 15.9998C5.33334 15.2635 5.9303 14.6665 6.66668 14.6665H25.3333C26.0697 14.6665 26.6667 15.2635 26.6667 15.9998C26.6667 16.7362 26.0697 17.3332 25.3333 17.3332H6.66668C5.9303 17.3332 5.33334 16.7362 5.33334 15.9998Z' fill='%237070F6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.9428 5.72402C17.4635 6.24472 17.4635 7.08894 16.9428 7.60964L8.55229 16.0002L16.9428 24.3907C17.4635 24.9114 17.4635 25.7556 16.9428 26.2763C16.4221 26.797 15.5779 26.797 15.0572 26.2763L5.72387 16.943C5.20317 16.4223 5.20317 15.5781 5.72387 15.0574L15.0572 5.72402C15.5779 5.20332 16.4221 5.20332 16.9428 5.72402Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
    border-radius: 50%;
    margin: auto;
    font-size: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;

    &.slick-next {
        right: 0;
        transform: rotate(180deg);
        box-shadow: 0px -17px 20px -11px rgba(0, 0, 0, 0.1);
    }

    &.slick-prev {
        left: 0;
    }
}

.slick-dots {
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;

    li {
        margin: 0 4px;
        display: inline-block;
        vertical-align: top;

        button {
            width: 8px;
            height: 8px;
            padding: 0;
            border: none;
            outline: none;
            border-radius: 50%;
            font-size: 0;
            cursor: pointer;
            background: #333333;
        }

        &.slick-active {

            button {
                background: #7070f6;
            }
        }
    }
}

.reviews_block {
    margin: 0 16px 40px;
    padding: 80px 16px;
    position: relative;
    background: #BEEFFF;
    border-radius: 24px;

    @media all and (max-width: 1100px) {
        padding: 30px 16px;
        margin: 0 0 20px;
        border-radius: 0;
    }

    .rev_parallax {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .h_icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 400px;
                height: 400px;
                background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M187.5 112.5C187.5 104.212 184.208 96.2634 178.347 90.4029C172.487 84.5424 164.538 81.25 156.25 81.25H62.5C54.212 81.25 46.2634 84.5424 40.4029 90.4029C34.5424 96.2634 31.25 104.212 31.25 112.5V212.5C31.25 220.788 34.5424 228.737 40.4029 234.597C46.2635 240.458 54.212 243.75 62.5 243.75H150V250C150 261.603 145.391 272.731 137.186 280.936C128.981 289.141 117.853 293.75 106.25 293.75C95.8947 293.75 87.5 302.145 87.5 312.5C87.5 322.855 95.8947 331.25 106.25 331.25C127.799 331.25 148.465 322.69 163.702 307.452C178.94 292.215 187.5 271.549 187.5 250V112.5ZM368.75 112.5C368.75 104.212 365.458 96.2635 359.597 90.4029C353.737 84.5424 345.788 81.25 337.5 81.25H243.75C235.462 81.25 227.513 84.5424 221.653 90.4029C215.792 96.2635 212.5 104.212 212.5 112.5V212.5C212.5 220.788 215.792 228.737 221.653 234.597C227.513 240.458 235.462 243.75 243.75 243.75H331.25V250C331.25 261.603 326.641 272.731 318.436 280.936C310.231 289.141 299.103 293.75 287.5 293.75C277.145 293.75 268.75 302.145 268.75 312.5C268.75 322.855 277.145 331.25 287.5 331.25C309.049 331.25 329.715 322.69 344.952 307.452C360.19 292.215 368.75 271.549 368.75 250V112.5Z' fill='%23A1DDF0'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        @media all and (max-width: 1100px) {
            display: none;
        }
    }

    .block_inner {
        position: relative;
        z-index: 10;

        .title {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #212121;
            padding-bottom: 40px;

            span {
                color: #7070f6;
            }

            @media all and (max-width: 1000px) {
                font-size: 32px;
                line-height: 1.3;
                padding-bottom: 20px;
            }
        }
    }

    .slick-track {
        display: flex;

        .slick-slide {
            float: none;
            height: auto;
            display: flex;
        }
    }

    

    

    .item {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media all and (max-width: 1000px) {
            padding: 0;
        }

        @media all and (max-width: 767px) {
            display: block !important;
        }

        .text_left {
            flex: 0 0 calc(50% - 10px);
            position: relative;

            @media all and (max-width: 767px) {
                margin: 0 0 20px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -60px;
                width: 40px;
                height: 40px;
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5119 10.4882C20.1627 11.139 20.1627 12.1943 19.5119 12.8452L12.357 20L19.5119 27.1548C20.1627 27.8057 20.1627 28.861 19.5119 29.5118C18.861 30.1627 17.8057 30.1627 17.1548 29.5118L8.8215 21.1785C8.17063 20.5276 8.17063 19.4724 8.8215 18.8215L17.1548 10.4882C17.8057 9.83728 18.861 9.83728 19.5119 10.4882Z' fill='%237070F6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.1785 10.4882C31.8294 11.139 31.8294 12.1943 31.1785 12.8452L24.0237 20L31.1785 27.1548C31.8294 27.8057 31.8294 28.861 31.1785 29.5118C30.5276 30.1627 29.4724 30.1627 28.8215 29.5118L20.4882 21.1785C19.8373 20.5276 19.8373 19.4724 20.4882 18.8215L28.8215 10.4882C29.4724 9.83728 30.5276 9.83728 31.1785 10.4882Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
                
                @media all and (max-width: 1000px) {
                    display: none;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                right: 0;
                width: 40px;
                height: 40px;
                transform: rotate(180deg);
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5119 10.4882C20.1627 11.139 20.1627 12.1943 19.5119 12.8452L12.357 20L19.5119 27.1548C20.1627 27.8057 20.1627 28.861 19.5119 29.5118C18.861 30.1627 17.8057 30.1627 17.1548 29.5118L8.8215 21.1785C8.17063 20.5276 8.17063 19.4724 8.8215 18.8215L17.1548 10.4882C17.8057 9.83728 18.861 9.83728 19.5119 10.4882Z' fill='%237070F6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.1785 10.4882C31.8294 11.139 31.8294 12.1943 31.1785 12.8452L24.0237 20L31.1785 27.1548C31.8294 27.8057 31.8294 28.861 31.1785 29.5118C30.5276 30.1627 29.4724 30.1627 28.8215 29.5118L20.4882 21.1785C19.8373 20.5276 19.8373 19.4724 20.4882 18.8215L28.8215 10.4882C29.4724 9.83728 30.5276 9.83728 31.1785 10.4882Z' fill='%237070F6'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }

            .text {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 24px;
                color: #333333;

                p {
                    margin: 0 0 24px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }

                @media all and (max-width: 1000px){
                    font-size: 16px;
                    line-height: 20px;

                    p{
                        margin-bottom: 12px;
                    }
                }
            }

            .name {
                padding-top: 18px;
                padding-right: 50px;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 24px;
                color: #333333;

                @media all and (max-width: 1000px){
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .image {
            flex: 0 0 calc(50% - 10px);

            img {
                width: 100%;
                height: 320px;
                border-radius: 20px;
                object-fit: cover;
            }
        }
    }
}

.partners_block {
    padding: 40px 16px 40px;
    text-align: center;

    @media all and (max-width: 1100px) {
        padding: 20px 16px;
    }

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #212121;
        padding-bottom: 27px;
        text-align: left;

        span {
            color: #7070f6;
        }

        @media all and (max-width: 1000px) {
            font-size: 32px;
            line-height: 1.3;
            padding-bottom: 20px;
        }
    }

    .slick-track {
        display: flex;
        align-items: center;

        .slick-slide {
            float: none;
            height: auto;
            padding: 10px;
            text-align: center;
            display: block;

            img {
                width: auto;
            }
        }
    }

    .slick-dots {
        padding-top: 0;
        padding-bottom: 24px;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 80px;

        @media all and (max-width: 1024px){
            padding: 0;
        }

        a {
            text-decoration: none;
            display: inline-block;
            vertical-align: top;
            margin: 0 12px 24px;

            @media all and (max-width: 440px) {
                margin: 0 10px 20px;
            }
        }
    }

    .btn {
        display: inline-block;
        vertical-align: top;
        width: auto;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.blog_block {
    padding: 40px 16px 100px;

    @media all and (max-width: 1000px){
        padding: 20px 16px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #212121;
        padding-bottom: 24px;

        a {
            color: #7070F6;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media all and (max-width: 1000px) {
            font-size: 32px;
            line-height: 1.3;
            padding-bottom: 20px;
        }
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media all and (max-width: 480px){
            display: block;
            margin: 0;
        }

        .item {
            display: block;
            text-decoration: none;
            flex: 0 0 calc(33.33% - 20px);
            margin: 0 10px 20px;
            padding: 18px 18px 38px;
            border: 2px solid rgba(112, 112, 246, 0.2);
            box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            background: #fff;

            @media all and (max-width: 1000px){
                padding: 10px 10px 20px;
            }

            @media all and (max-width: 767px){
                flex: 0 0 calc(50% - 20px);
            }

            @media all and (max-width: 480px){
                margin: 0 0 20px;
                width: 100%;
            }

            span {
                display: block;
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }

            .date {
                padding: 16px 12px 8px;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #7070F6;

                @media all and (max-width: 1000px){
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-top: 10px;
                }
            }

            .name {
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 24px;
                color: #333333;
                padding: 0 12px;

                @media all and (max-width: 1000px){
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
    }
}

.footer {
    padding: 0 16px 16px;

    @media all and (max-width: 1100px){
        padding: 0;
    }

    &_block_inner {
        padding: 80px 16px;
        background: #F9F9F9;
        border-radius: 24px;

        @media all and (max-width: 1100px){
            padding: 20px 16px;
            border-radius: 0;
        }
    }

    .block_inner {
        display: flex;

        @media all and (max-width: 900px) {
            display: block;
            text-align: center;
        }

        .left_block {
            flex: 0 0 250px;
            margin-right: 50px;

            @media all and (max-width: 1100px){
                margin-right: 20px;
            }

            @media all and (max-width: 900px){
                margin: 0 0 16px;
            }

            .logo {
                margin-bottom: 24px;
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                color: #7070F6;

                @media all and (max-width: 900px){
                    margin: 0 0 16px;
                }
            }

            .copy {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #999999;
                padding-bottom: 24px;

                @media all and (max-width: 900px){
                    padding: 0 0 16px;
                }
            }

            .police {

                a {
                    display: inline-block;
                    vertical-align: top;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #7070F6;
                    margin-bottom: 24px;
                    transition: all 0.3s;
                    text-decoration: none;

                    @media all and (max-width: 900px){
                        margin: 0 0 16px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .menu_footer {
        flex: 1 1 auto;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            @media all and (max-width: 1024px){
                display: none;
            }

            li {

                a {
                    display: inline-block;
                    vertical-align: top;
                    padding: 14px 24px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #212121;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        color: #7070F6;
                    }
                }
            }
        }
    }

    .contacts {
        flex: 0 0 220px;
        margin-right: 80px;

        @media all and (max-width: 1100px){
            margin-right: 30px;
        }

        @media all and (max-width: 900px){
            margin: 0 0 16px;
        }

        .phone {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #212121;
            margin-bottom: 24px;

            @media all and (max-width: 900px){
                margin: 0 0 16px;
            }
        }

        .name {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #999999;
            padding-bottom: 4px;
        }

        .email {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #7070F6;
            margin-bottom: 24px;

            @media all and (max-width: 900px){
                margin: 0 0 16px;
            }

            a {
                text-decoration: none;
                color: #7070F6;
                text-decoration: none;
            }
        }

        .soc_block {
            font-size: 0;

            a {
                display: inline-block;
                vertical-align: top;
                margin-right: 8px;
                width: 40px;
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    opacity: .8;
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .footer_btns {
        flex: 0 0 280px;

        .btn {
            margin-bottom: 24px;
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            display: block;

            &:last-child {
                margin-bottom: 0;
                margin-right: 0 !important;
            }
        }

        @media all and (max-width: 900px) {
            font-size: 0;
            max-width: 300px;
            margin: 0 auto;

            .btn {
                display: inline-block;
                vertical-align: top;
                margin: 0 0 16px;
                width: 320px;
            }
        }

        @media all and (max-width: 699px) {

            .btn {
                display: block;
                width: 100%;
                margin-right: 0;
                font-size: 16px;
            }
        }
    }
}

.title_block {

    h1 {
        margin-bottom: 8px;

        @media all and (max-width: 1024px){
            font-size: 28px;
        }
    }

    .subname {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #7070F6;

        @media all and (max-width: 1024px){
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.header_bottom.inner_page {
    @media all and (min-width: 1025px) {
        padding-bottom: 40px;
    }
}

.image_bg_block {
    margin: 16px;
    border-radius: 24px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 16px 0;

    @media all and (max-width: 1024px){
        padding: 30px 16px 0;
        margin: 0 0 16px;
        border-radius: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        opacity: 0.6;
        border-radius: 24px;

        @media all and (max-width: 1024px){
            border-radius: 0;
        }
    }

    .block_inner {
        position: relative;
        z-index: 1;
        text-align: center;

        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            color: #FFFFFF;
            max-width: 880px;
            margin: 0 auto;
            padding-bottom: 24px;

            @media all and (max-width: 1024px){
                font-size: 28px;
                line-height: 32px;
                padding-bottom: 16px;
            }
        }

        .btns {
            font-size: 0;
            text-align: center;

            .btn {
                margin-bottom: 16px;
                width: auto;
                display: inline-block;
                padding-left: 22px;
                padding-right: 22px;
                margin: 0 8px 16px;
            }

            @media all and (max-width: 699px) {

                .btn {
                    display: block;
                    width: 100%;
                    margin: 0 0 16px;
                    font-size: 16px;
                }
            }
        }

        .image {
            padding-top: 64px;
            font-size: 0;

            @media all and (max-width: 1024px){
                padding-top: 16px;
            }

            img {
                border-radius: 24px 24px 0 0;
            }
        }
    }
}

.items_block_wr {
    margin: 16px;
    border-radius: 24px;
    padding: 80px 16px 0;
    background: #F9F9F9;
    border-radius: 24px;
    overflow: hidden;

    @media all and (max-width: 1024px){
        padding: 30px 16px 0;
        margin: 0 0 16px;
        border-radius: 0;
    }

    .questions_btn_block {
        padding: 0 0 80px;

        @media all and (max-width: 850px){
            padding-bottom: 30px;
        }
    }

    .item_block {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        position: relative;
        margin-bottom: 80px;

        @media all and (max-width: 850px) {
            margin-bottom: 30px;
        }

        @media all and (max-width: 767px) {
            display: block;
        }

        .left_img {
            position: absolute;
            top: 0;
            left: -149px;
            width: 229px;
            bottom: 0;
            display: flex;
            align-items: center;

            @media all and (max-width: 1024px) {
                display: none;
            }
        }

        .right_img {
            position: absolute;
            top: 0;
            right: -149px;
            width: 229px;
            bottom: 0;
            display: flex;
            align-items: center;

            @media all and (max-width: 1024px) {
                display: none;
            }
        }

        .left_block {
            flex: 1 1 auto;
            padding: 76px 40px;
            background: #fff;
            border-radius: 24px 0 0 24px;
            position: relative;
            z-index: 1;

            @media all and (max-width: 1024px){
                padding: 30px 20px;
            }

            .title {
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 48px;
                color: #7070F6;
                padding-bottom: 24px;

                @media all and (max-width: 850px){
                    font-size: 28px;
                    line-height: 34px;
                }
            }

            .body {
                font-weight: 500;
                font-size: 17px;
                line-height: 24px;
                color: #666666;

                @media all and (max-width: 850px){
                    font-size: 16px;
                }

                p {
                    margin: 0 0 24px;

                    @media all and (max-width: 850px){
                        margin-bottom: 12px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }

        .image {
            flex: 0 0 580px;
            position: relative;
            z-index: 1;
            font-size: 0;

            @media all and (max-width: 1024px){
                flex: 0 0 400px;
            }

            @media all and (max-width: 850px){
                flex: 0 0 300px;
            }

            @media all and (max-width: 767px) {
                width: 100%;
            }

            img {
                min-height: 400px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
                border-radius: 24px;

                @media all and (max-width: 767px) {
                    min-height: 280px;
                }
            }
        }
    }
}


.sfera_block {
    padding: 80px 16px 40px;

    @media all and (max-width: 1024px){
        padding: 24px 16px 20px;
    }

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #212121;
        padding-bottom: 32px;

        span {
            color: #7070F6;

            @media all and (max-width: 600px){
                display: block;
            }
        }

        @media all and (max-width: 1000px) {
            font-size: 32px;
            line-height: 1.3;
            padding-bottom: 20px;
        }
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media all and (max-width: 600px){
            display: block;
        }

        .item {
            flex: 0 0 calc(50% - 10px);
            height: 320px;
            position: relative;
            border-radius: 24px;
            margin: 0 0 20px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 48px;
            display: flex;
            align-items: flex-end;
            text-decoration: none;

            @media all and (max-width: 1000px){
                padding: 20px;
            }

            @media all and (max-width: 600px){
                margin-bottom: 16px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
                box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
                border-radius: 24px;
            }

            .name {
                position: relative;
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 48px;
                color: #FFFFFF;

                @media all and (max-width: 1000px) {
                    font-size: 26px;
                    line-height: 1.3;
                }
            }
        }
    }
}


.blog_block {
    padding: 24px 16px 120px;

    @media all and (max-width: 1024px){
        padding: 24px 16px 30px;
    }

    .blog_links {
        padding-bottom: 20px;
        font-size: 0;

        a {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            margin-bottom: 4px;
            padding: 14px 24px;
            background: #F3F3F3;
            border-radius: 30px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #7070F6;
            text-decoration: none;
            transition: all 0.3s;

            &:hover,&.active {
                background: #7070F6;
                color: #fff;
            }
        }
    }

    .blog_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 40px;

        @media all and (max-width: 767px){
            display: block;
            padding-bottom: 20px;
        }

        .item {
            flex: 0 0 calc(50% - 20px);
            text-decoration: none;
            background: #FFFFFF;
            border: 2px solid rgba(112, 112, 246, 0.2);
            box-shadow: 0px 17px 20px -11px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            @media all and (max-width: 1024px){
                flex: 0 0 calc(50% - 10px);
                margin-bottom: 20px;
            }

            span {
                display: block;
                width: 100%;
            }

            .image {
                

                img {
                    width: 100%;
                    border-radius: 18px;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .inner {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 24px 30px 30px;

                .date {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 24px;
                    color: #7070F6;
                    padding-bottom: 8px;
                }

                .text {
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 32px;
                    color: #333333;
                    flex: 1 1 auto;
                    margin-bottom: 16px;
                }

                .label {
                    width: auto;
                    display: inline-block;
                    vertical-align: top;
                    padding: 4px 12px;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 24px;
                    color: #333333;
                    border-radius: 8px;
                    background: #BEEFFF;

                    &.news {
                        background: #B4EE87;
                    }

                    &.upd {
                        background: #BEC5FF;
                    }
                }
            }
        }
    }
}

.page_list {
    font-size: 0;

    a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        transition: all 0.3s;
    }

    .prev {
        width: 48px;
        height: 48px;
        background: #F3F3F3 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2929 5.29297L15.7071 6.70718L10.4142 12.0001L15.7071 17.293L14.2929 18.7072L7.58578 12.0001L14.2929 5.29297Z' fill='%23999999'/%3E%3C/svg%3E%0A") 50% no-repeat;
        border-radius: 8px;
        margin-right: 32px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
            background: #8080FF url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2929 5.29297L15.7071 6.70718L10.4142 12.0001L15.7071 17.293L14.2929 18.7072L7.58578 12.0001L14.2929 5.29297Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }

        @media all and (max-width: 767px){
            width: 30px;
            height: 30px;
            margin-right: 6px;
        }
    }

    .active {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        background: rgba(112, 112, 246, 0.1);
        border: 1px solid rgba(112, 112, 246, 0.4);
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 46px;
        text-align: center;
        color: #333333;

        @media all and (max-width: 767px){
            width: 30px;
            height: 30px;
            line-height: 28px;
        }
    }

    .number {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        color: #7070F6;

        @media all and (max-width: 767px){
            width: 30px;
            height: 30px;
            line-height: 30px;
        }

        &:hover {
            background: rgba(112, 112, 246, 0.1);
            color: #333;
        }
    }

    .dots {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        color: #7070F6;

        @media all and (max-width: 767px){
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }

    .next {
        height: 48px;
        background: #7070F6 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.70708 5.29297L8.29286 6.70718L13.5858 12.0001L8.29286 17.293L9.70708 18.7072L16.4142 12.0001L9.70708 5.29297Z' fill='white'/%3E%3C/svg%3E%0A") calc(100% - 24px) 50% no-repeat;
        border-radius: 8px;
        margin-left: 32px;
        cursor: pointer;
        padding: 0 56px 0 24px;
        border: 2px solid rgba(0, 0, 0, 0.06);
        box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
        font-weight: 700;
        font-size: 16px;
        line-height: 44px;
        color: #FFFFFF;

        &:hover {
            box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
            background: #8080FF url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.70708 5.29297L8.29286 6.70718L13.5858 12.0001L8.29286 17.293L9.70708 18.7072L16.4142 12.0001L9.70708 5.29297Z' fill='white'/%3E%3C/svg%3E%0A") calc(100% - 24px) 50% no-repeat;
        }

        @media all and (max-width: 767px){
            width: 30px;
            height: 30px;
            padding: 0;
            margin-left: 10px;
            font-size: 0;
            background-position: 50%;

            &:hover {
                box-shadow: 0px 4px 12px rgba(112, 112, 246, 0.4);
                background: #8080FF url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.70708 5.29297L8.29286 6.70718L13.5858 12.0001L8.29286 17.293L9.70708 18.7072L16.4142 12.0001L9.70708 5.29297Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}