</div>
<div class="footer">
	<div class="footer_block_inner">
		<div class="block_inner">
			<div class="left_block">
				<div class="logo">SELLER</div>
				<div class="copy">© 2022 SELLER. <br>Все права защищены</div>
				<div class="police">
					<a href="#">Пользовательское соглашение</a><br>
					<a href="#">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="menu_footer">
				<ul>
					<li><a href="#">О продукте</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts">
				<div class="phone">
					<div class="name">Телефон:</div>
					<div><a href="tel:+998000000000">+ 998 00 000 00 00</a></div>
					<div><a href="tel:+998000000000">+ 998 00 000 00 00</a></div>
				</div>
				<div class="email">
					<div class="name">E-mail:</div>
					<a href="mailto:name@domain.uz">name@domain.uz</a>
				</div>
				<div class="soc_block">
					<a href="#">
						<img src="files/soc1.svg" alt="">
					</a>
					<a href="#">
						<img src="files/soc2.svg" alt="">
					</a>
					<a href="#">
						<img src="files/soc3.svg" alt="">
					</a>
				</div>
			</div>
			<div class="footer_btns">
				<a href="#" class="btn">Попробовать бесплатно</a>
				<a href="#" class="btn white">Смотреть демонстрацию</a>
				<a href="#" class="btn white">Получить консулльтацию</a>
			</div>
		</div>
	</div>
</div>
</div>
<script src="js/wow.js" async></script>
<script src="js/parallax.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>