<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script> -->
	<script src="js/jquery.min.js"></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li>
					<a href=""><span>О продукте</span></a>
					<ul>
						<li><a href="">О продукте</a></li>
						<li><a href="">Цены</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">О нас</a></li>
					</ul>
				</li>
				<li><a href=""><span>Цены</span></a></li>
				<li><a href=""><span>Отзывы</span></a></li>
				<li><a href=""><span>Блог</span></a></li>
				<li><a href=""><span>О нас</span></a></li>
				<li><a href=""><span>Контакты</span></a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
	<div class="header">
		<div class="header_block_inner">
			<div class="header_fixed_panel">
				<div class="block_inner header_top_panel">
					<div class="logo">
						<a href="#">SELLER</a>
					</div>
					<div class="header_menu">
						<ul>
							<li>
								<a href=""><span>О продукте</span></a>
								<ul>
									<li><a href="">О продукте</a></li>
									<li><a href="">Цены</a></li>
									<li><a href="">Отзывы</a></li>
									<li><a href="">Блог</a></li>
									<li><a href="">О нас</a></li>
								</ul>
							</li>
							<li><a href=""><span>Цены</span></a></li>
							<li><a href=""><span>Отзывы</span></a></li>
							<li><a href=""><span>Блог</span></a></li>
							<li><a href=""><span>О нас</span></a></li>
							<li><a href=""><span>Контакты</span></a></li>
						</ul>
					</div>
					<div class="lang_block">
						<div class="active_lang">ru</div>
						<div class="list_lang">
							<a href="#">uz</a>
							<a href="#">en</a>
						</div>
					</div>
					<a href="#" class="login_btn">Войти</a>
					<div class="burger"></div>
				</div>
			</div>
			<div class="block_inner">				
				<div class="header_bottom inner_page">
					<div class="title_block">
						<h1 class="name">Все решения в одной программе</h1>
						<div class="subname">Обзор всех возможностей</div>
					</div>
				</div>																						
			</div>
		</div>
	</div>

	