<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script> -->
	<script src="js/jquery.min.js"></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li>
					<a href="product.html"><span>О продукте</span></a>
					<ul>
						<li><a href="">О продукте</a></li>
						<li><a href="">Цены</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">О нас</a></li>
					</ul>
				</li>
				<li><a href=""><span>Цены</span></a></li>
				<li><a href=""><span>Отзывы</span></a></li>
				<li><a href="blog.html"><span>Блог</span></a></li>
				<li><a href="about.html"><span>О нас</span></a></li>
				<li><a href=""><span>Контакты</span></a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
	<div class="header">
		<div class="header_block_inner">
			<div class="header_fixed_panel">
				<div class="block_inner header_top_panel">
					<div class="logo">
						<a href="#">SELLER</a>
					</div>
					<div class="header_menu">
						<ul>
							<li>
								<a href="product.html"><span>О продукте</span></a>
								<ul>
									<li><a href="">О продукте</a></li>
									<li><a href="">Цены</a></li>
									<li><a href="">Отзывы</a></li>
									<li><a href="">Блог</a></li>
									<li><a href="">О нас</a></li>
								</ul>
							</li>
							<li><a href=""><span>Цены</span></a></li>
							<li><a href=""><span>Отзывы</span></a></li>
							<li><a href="blog.html"><span>Блог</span></a></li>
							<li><a href="about.html"><span>О нас</span></a></li>
							<li><a href=""><span>Контакты</span></a></li>
						</ul>
					</div>
					<div class="lang_block">
						<div class="active_lang">ru</div>
						<div class="list_lang">
							<a href="#">uz</a>
							<a href="#">en</a>
						</div>
					</div>
					<a href="#" class="login_btn">Войти</a>
					<div class="burger"></div>
				</div>
			</div>
			<div class="block_inner">				
				<div class="header_bottom">
					<div class="left_block">
						<div class="title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1500ms">Бизнес растет вместе с <span>SELLER</span></div>
						<div class="text wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1500ms">Удобная автоматизация для магазинов, кафе и производств</div>
						<div class="btns">
							<a href="#" class="btn big wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1500ms">Попробовать бесплатно</a>
							<a href="#" class="btn big white wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1500ms">Смотреть демонстрацию</a>
						</div>
					</div>
					<div class="right_block service_blocks">
						<a href="#" class="item wow zoomIn"  data-wow-delay=".2s">
							<span class="name">Учет <br>товаров</span>
							<span class="body">Всегда будьте в курсе остатов на складе</span>
							<span class="icon">
								<img src="files/package1.svg" alt="">
							</span>
						</a>
						<a href="#" class="item wow zoomIn" data-wow-delay=".3s">
							<span class="name">База <br>клиентов</span>
							<span class="body">Получайте прибыль с повторных продаж</span>
							<span class="icon">
								<img src="files/package2.svg" alt="">
							</span>
						</a>
						<a href="#" class="item wow zoomIn" data-wow-delay=".4s">
							<span class="name">Отчеты <br>и аналитика</span>
							<span class="body">Понятные отчеты по всем ресурсам</span>
							<span class="icon">
								<img src="files/package3.svg" alt="">
							</span>
						</a>
						<a href="#" class="item wow zoomIn"  data-wow-delay=".5s">
							<span class="name">Управление <br>продажами и кассой</span>
							<span class="body">Автоматизация торговли и учет товаров онлайн.</span>
							<span class="icon">
								<img src="files/package4.svg" alt="">
							</span>
						</a>
						<a href="#" class="item wow zoomIn" data-wow-delay=".6s">
							<span class="border_block">
								<span class="bd bd1"></span>
								<span class="bd bd2"></span>
								<span class="bd bd3"></span>
								<span class="bd bd4"></span>
							</span>
							<span class="name">И еще множество возможносте</span>
							<span class="icon">
								<span class="btn white">Все возможности</span>
							</span>
						</a>
					</div>
				</div>																						
			</div>
		</div>
	</div>
	<div class="content_block_wr">
	