include _header_inner.jade
	<div class="reviews_block">
		<ul class="rev_parallax" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.06"><div class="h_icon h_con_z"></div></li>
		</ul>
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Отзывы <span>клиентов</span></div>
			<div class="reviews_slider wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
			</div>					
		</div>
	</div>
	<div class="questions_btn_block">
		<div class="block_inner">
			<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="title">Остались <span>вопросы?</span></div>
				<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
			</div>
			<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" class="btn big">Получить консультацию</a>
			</div>
		</div>
	</div>						
include _footer.jade