include _header_inner.jade
	<div class="blog_block">
		<div class="block_inner">
			<div class="blog_links">
				<a href="#" class="active">Все</a>
				<a href="">Новости</a>
				<a href="">Обновления</a>
				<a href="">Статьи</a>
			</div>
			<div class="blog_items">
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid2.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Кейс Автоподбор: как увеличить оборот компании на 150%, но сэкономить</span>
						<span class="label st">Статья</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid3.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. </span>
						<span class="label news">Новость</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid4.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Доступны новые функции для управления клиентами</span>
						<span class="label upd">Обновление</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid5.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Узнавайте клиентов при входящих звонках и быстро управляйте доставкой Узнавайте клиентов при входящих звонках и быстро управляйте доставкой</span>
						<span class="label news">Новость</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid6.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Кейс Автоподбор: как увеличить оборот компании на 150%, но сэкономить</span>
						<span class="label st">Статья</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid2.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. </span>
						<span class="label news">Новость</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid2.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Доступны новые функции для управления клиентами</span>
						<span class="label upd">Обновление</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/bg_slid2.jpg" alt="">
					</span>
					<span class="inner">
						<span class="date">10 августа 2022 г.</span>
						<span class="text">Узнавайте клиентов при входящих звонках и быстро управляйте доставкой Узнавайте клиентов при входящих звонках и быстро управляйте доставкой</span>
						<span class="label news">Новость</span>
					</span>
				</a>
			</div>
			<div class="page_list">
				<a href="#" class="prev"></a>
				<div class="active">1</div>
				<a href="#" class="number">2</a>
				<a href="#" class="number">3</a>
				<a href="#" class="number">4</a>
				<a href="#" class="number">5</a>
				<div class="dots">...</div>
				<a href="#" class="number">24</a>
				<a href="#" class="next">Следующая</a>
			</div>
		</div>
	</div>																					
	<div class="reviews_block" style="margin-bottom: 0;">
		<ul class="rev_parallax" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.06"><div class="h_icon h_con_z"></div></li>
		</ul>
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Отзывы <span>клиентов</span></div>
			<div class="reviews_slider wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
			</div>					
		</div>
	</div>
	<div class="questions_btn_block">
		<div class="block_inner">
			<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="title">Остались <span>вопросы?</span></div>
				<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
			</div>
			<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" class="btn big">Получить консультацию</a>
			</div>
		</div>
	</div>						
include _footer.jade