include _header.jade
	<div class="solutions_block">
		<ul class="so_parallax" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.06"><div class="hl_icon"></div></li>
			<li class="layer" data-depth="0.08"><div class="hr_icon"></div></li>
		</ul>
		<div class="block_inner">
			<div class="images">
				<div class="image wow zoomIn"  data-wow-delay=".2s" data-wow-duration="700ms">
					<img src="files/dashboard.jpg" alt="">
				</div>
				<div class="image_top wow zoomIn"  data-wow-delay=".5s" data-wow-duration="700ms">
					<img src="files/dashboard2.png" alt="">
				</div>
				<div class="image_bottom wow zoomIn"  data-wow-delay=".7s" data-wow-duration="700ms">
					<img src="files/dashboard3.png" alt="">
				</div>
			</div>
			<div class="right_block">
				<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Все решения в <span>одной программе</span></div>
				<div class="text wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="700ms">
					<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
					<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
				</div>
			</div>
		</div>
	</div>												
	<div class="why_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Почему <br><span>SELLER?</span></div>
				<div class="btns">
					<a href="#" class="btn wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="700ms">Попробовать бесплатно</a>
					<a href="#" class="btn white wow fadeInUp"  data-wow-delay=".8s" data-wow-duration="700ms">Смотреть демонстрацию</a>
				</div>
			</div>
			<div class="items_why">
				<div class="items">
					<div class="item wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
						<div class="name">Контроль <br> и учет</div>
						<ul>
							<li>Учёт каждой единицы товара на торговой точке</li>
							<li>Всесторонний учёт товара на складе и в магазинах</li>
							<li>Контроль доходов и расходов по каждой отдельной статье</li>
							<li>Контроль доходов и расходов по каждой отдельной статье</li>
						</ul>
					</div>
					<div class="item wow fadeInUp"  data-wow-delay=".8s" data-wow-duration="700ms">
						<div class="name">Аналитика и <br>статистика</div>
						<ul>
							<li>Анализ динамики закупок и продаж за любой период времени</li>
							<li>Доступная статистика оборотов, рентабельности, прибыльности организации</li>
							<li>Управленческая отчётность по торговой сети в единой базе данных</li>
							<li>Прогнозирование и формирование бизнес-показателей, необходимых для роста бизнеса</li>
						</ul>
					</div>
				</div>
				<div class="items">
					<div class="item wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="700ms">
						<div class="name">Эффективность продаж</div>
						<ul>
							<li>Увеличение объёмов и скорости товарооборота</li>
							<li>Выявление групп товаров или услуг, которые продаются лучше остальных</li>
							<li>Создание базы данных постоянных клиентов</li>
							<li>Формирование результативного маркетинга (скидки, акции, распродажи)</li>
						</ul>
					</div>
					<div class="item wow fadeInUp"  data-wow-delay="1.1s" data-wow-duration="700ms">
						<div class="name">Снижение <br>потерь</div>
						<ul>
							<li>Предотвращение воровства и хищений</li>
							<li>Выявление неэффективных работников</li>
							<li>Сокращение количества работников за счёт оптимизации процессов</li>
							<li>Исключение ошибок при реализации товаров или услуг по неверной цене</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="as_well_block">
		<ul class="as_parallax" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.06"><div class="h_icon h_con_z"></div></li>
		</ul>
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">... а также</div>
			<div class="subtitle wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Режим розничной и оптовой торговли товаров</div>
			<div class="text wow fadeInUp"  data-wow-delay=".2s">У каждого товара доступны несколько типов цен!</div>
		</div>
	</div>
	<div class="questions_btn_block">
		<div class="block_inner">
			<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="title">Остались <span>вопросы?</span></div>
				<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
			</div>
			<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" class="btn big">Получить консультацию</a>
			</div>
		</div>
	</div>
	<div class="slider_bg_block">
		<div class="slider_inner_items">
			<div class="item" style="background-image: url(files/bg_slid2.jpg);">
				<div class="bg">
					<div class="block_inner">
						<div class="text">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
						<div class="title">Магазина <br>косметики</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url(files/bg_slid3.jpg);">
				<div class="bg">
					<div class="block_inner">
						<div class="text">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
						<div class="title">Магазина <br>строительных материалов</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url(files/bg_slid4.jpg);">
				<div class="bg">
					<div class="block_inner">
						<div class="text">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
						<div class="title">Магазина <br>одежды и обуви</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url(files/bg_slid5.jpg);">
				<div class="bg">
					<div class="block_inner">
						<div class="text">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
						<div class="title">Магазина <br>мебели</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url(files/bg_slid1.jpg);">
				<div class="bg">
					<div class="block_inner">
						<div class="text">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
						<div class="title">всех сфер деятельности!</div>
						<div class="btns">
							<a href="#" class="btn big">Попробовать бесплатно</a>
							<a href="#" class="btn big white">Смотреть демонстрацию</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="questions_btn_block">
		<div class="block_inner">
			<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="title">Остались <span>вопросы?</span></div>
				<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
			</div>
			<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" class="btn big">Получить консультацию</a>
			</div>
		</div>
	</div>
	<div class="reviews_block">
		<ul class="rev_parallax" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.06"><div class="h_icon h_con_z"></div></li>
		</ul>
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Отзывы <span>клиентов</span></div>
			<div class="reviews_slider wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
				<div class="item">
					<div class="text_left">
						<div class="text">
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием». Применение на кассе скидок, бонусов, акций по системе лояльности.</p>
							<p>Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. Актуальные остатки, а также работа с ЕГАИС, маркировкой, «Меркурием».</p>
						</div>
						<div class="name">Вадим, кафе “Вадим”</div>
					</div>
					<div class="image">
						<img src="files/rew.jpg" alt="">
					</div>			
				</div>
			</div>					
		</div>
	</div>
	<div class="partners_block">
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Нам доверяют</div>
			<div class="inner wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" target="_blank" class="item">
					<img src="files/image1.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image2.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image3.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image4.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image5.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image6.png" alt="">
				</a>
			</div>
			<a href="#" class="btn white wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">еще более 200 компаний</a>
		</div>
	</div>
	<div class="blog_block">
		<div class="block_inner">
			<div class="title">
				<div class="name wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">Блог</div>
				<a href="#" class="wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">читать все</a>
			</div>
			<div class="inner">
				<a href="#" class="item wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
					<span class="image">
						<img src="files/blog1.jpg" alt="">
					</span>
					<span class="date">10 августа 2022 г.</span>
					<span class="name">Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. </span>
				</a>
				<a href="#" class="item wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="700ms">
					<span class="image">
						<img src="files/blog2.jpg" alt="">
					</span>
					<span class="date">10 августа 2022 г.</span>
					<span class="name">Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. </span>
				</a>
				<a href="#" class="item wow fadeInUp"  data-wow-delay=".7s" data-wow-duration="700ms">
					<span class="image">
						<img src="files/blog3.jpg" alt="">
					</span>
					<span class="date">10 августа 2022 г.</span>
					<span class="name">Кассовая программа и учет товаров от поставки до продажи. Контроль поступлений и списаний. </span>
				</a>
			</div>
		</div>
	</div>
include _footer.jade