include _header_inner.jade
	<div class="image_bg_block" style="background-image: url(files/bg_dash.jpg);">
		<div class="block_inner">
			<div class="title">Идеальное решение для автоматизации оптовой и розничной торговли:</div>
			<div class="btns">
				<a href="#" class="btn">Попробовать бесплатно</a>
				<a href="#" class="btn white">Смотреть демонстрацию</a>
			</div>
			<div class="image">
				<img src="files/dashboard_i.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="items_block_wr">
		<div class="block_inner">
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l1.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Учёт товаров</div>
					<div class="body">
						<p>Следите за остатками товаров, узнавайте предпочтения клиентов, увеличивайте продажи с помощью аналитики, а также управляйте персоналом и финансами:</p>
						<p>Онлайн каталог для просмотра остатков,Учет товаров по цветам и размерам,Печать ценников с персональным штрих кодом,Перемещения товаров между магазинами,Быстрая инвентаризация,Учет списаний товаров,Переоценка товаров по курсу и наценке</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item1.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r1.png" alt="">
				</div>
			</div>
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l2.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Управление клиентами</div>
					<div class="body">
						<p>Инструменты для работы с клиентами: Управление долгами клиентов,Группировка клиентов по сегментам</p>
						<p>Управление лояльностью клиентов: акции, скидки, бонусы. Выпускает дисконтные карты. Хранит информацию о клиентах. Делает рассылки по SMS и электронной почте.</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item2.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r2.png" alt="">
				</div>
			</div>
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l3.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Продажи и касса</div>
					<div class="body">
						<p>Кассовые отчеты,Интеграция со сканерами и принтерами,Работа кассы без интернета, Учёт Продажи в долг</p>
						<p>Учет финансов и прибыльности магазина: Кассовы расходы,Движения денежных средств,Трансфер денег между офисом и магазинами,Детальный отчет по кассе</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item3.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r3.png" alt="">
				</div>
			</div>
			<div class="questions_btn_block">
				<div class="block_inner">
					<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
						<div class="title">Остались <span>вопросы?</span></div>
						<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
					</div>
					<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
						<a href="#" class="btn big">Получить консультацию</a>
					</div>
				</div>
			</div>
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l4.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Отчёты и аналитика</div>
					<div class="body">
						<p>Отчеты по магазинам,Отчеты по продавцам,Отчеты по остаткам, Топ самых продоваемых товаров, Топ покупателей, ABC анализ по дебиторам и кредиторам, уведомление об остатке товаров</p>
						<p>Покажет лучшие часы для торговли, лучшие товары и самых лояльных клиентов. Подробные отчёты по операциям.</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item4.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r4.png" alt="">
				</div>
			</div>
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l5.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Управление сетью магазинов</div>
					<div class="body">
						<p>Перемещения между магазинами,Возвраты/обмены между магазинами,Общая клиентская база,Статистика продаж по магазинам</p>
						<p>Можно управлять несколькими магазинами в одном аккаунте. Вы сможете вести учет по операциям с товарами, получать централизованные отчеты и хранить базу данных клиентов в одном месте.</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item5.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r5.png" alt="">
				</div>
			</div>
			<div class="item_block">
				<div class="left_img">
					<img src="files/iitem_l6.png" alt="">
				</div>
				<div class="left_block">
					<div class="title">Обучение и поддержка</div>
					<div class="body">
						<p>Техподдержка онлайн Вы можете обратиться за помощью, не выходя из приложения.</p>
						<p>Читайте материалы блога и базы знаний, чтобы не пропустить изменений.</p>
						<p>Мы есть в социальных сетях: VK, FB, твиттер, инстаграм...</p>
						<p>Видеоролики помогут вам разобраться с сервисом.</p>
					</div>
				</div>
				<div class="image">
					<img src="files/item6.jpg" alt="">
				</div>
				<div class="right_img">
					<img src="files/iitem_r6.png" alt="">
				</div>
			</div>
			<div class="questions_btn_block">
				<div class="block_inner">
					<div class="left_block wow fadeInLeft"  data-wow-delay=".2s" data-wow-duration="700ms">
						<div class="title">Остались <span>вопросы?</span></div>
						<div class="text">Наши специалисты проконсультируют и ответят на все вопросы. </div>		
					</div>
					<div class="right_block wow fadeInRight"  data-wow-delay=".2s" data-wow-duration="700ms">
						<a href="#" class="btn big">Получить консультацию</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sfera_block">
		<div class="block_inner">
			<div class="title"><span>SELLER</span> для всех сфер:</div>
			<div class="inner">
				<a href="#" class="item" style="background-image: url(files/sfera1.jpg);">
					<span class="name">Магазин <br>косметики</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/sfera2.jpg);">
					<span class="name">Магазин строительных материалов</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/sfera3.jpg);">
					<span class="name">Магазин <br>одежды и обуви</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/sfera4.jpg);">
					<span class="name">Магазин <br>мебели</span>
				</a>
			</div>
		</div>
	</div>
	<div class="partners_block">
		<div class="block_inner">
			<div class="title wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">Нам доверяют</div>
			<div class="inner wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">
				<a href="#" target="_blank" class="item">
					<img src="files/image1.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image2.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image3.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image4.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image5.png" alt="">
				</a>
				<a href="#" target="_blank" class="item">
					<img src="files/image6.png" alt="">
				</a>
			</div>
			<a href="#" class="btn white wow fadeInUp"  data-wow-delay=".2s" data-wow-duration="700ms">еще более 200 компаний</a>
		</div>
	</div>								
include _footer.jade